#xs-form-btn .btn {
	margin-bottom: 5px;
}
#form-btn .btn, #form-btn .btn.disabled {
	text-align: left;
	cursor: default;
}
#img-marker {
	margin-right: -40px;
	z-index: 999;
}
#searchWithMarker {
	padding-left: 40px;
}
nav.navbar {
	margin-bottom: 0;
}
.custom-combobox {
	position: relative;
	display: inline-block;
	padding: 0 30px 0 0;
	width: 100%;
}
.custom-combobox-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;
}
.custom-combobox-input {
	margin: 0;
	padding: 5px 10px;
	width: 100%;
}
#main .row {
	margin-bottom: 5px;
}
th p {
	margin: 0;
}
th p span {
	padding: 5px 3px 8px 5px;
}
td div a span {
	padding: 3px 3px 5px 3px;
}
a.deleteContact span {
	padding: 1px 1px 3px 2px;
}
.search-box {
	background: url(/images/light_blue_bg.jpg) center center;
	background-size: 100% auto;
	padding:60px 0 70px 0;
}
#location_map {
	height: 320px;
	margin-top: 25px;
}
#locate_map {
	margin-top: 10px;
}
#location_row hr {
	margin: 10px 0 5px 0;
}
.full_width {
	width: 100%;
}
#result-list label {
	font-weight: normal;
}
#result-list {
	height: 700px; 
	overflow-y: scroll;
}
.showDirections {
	margin: 5px 0;
}